
  <ul>
  <nav class="navbar navbar-light bg-light">

  <% if user_signed_in? %>
  <li>
  <%= link_to 'New Event', new_event_path %>
  </li>

  <li>

  <%= link_to "sign out", destroy_user_session_path, method:'delete' %>

  </li>


<% else %>
<li>
<%= link_to "sign in", new_user_session_path  %>
</li>
<li>
  <%= link_to "sign up", new_user_registration_path %>
</li>
<li>
<%= link_to "Edit Account", edit_user_registration_path  %>
</li>
</nav>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
